/* General */
body {
    font-family: 'Cormorant Garamond', serif;    ;
}

.container-fluid {
    padding: 5% 15%;
}

h1 {
    color: white;
    font-size: 3rem;
}

h2 {
    color: #617A5D;
    font-weight: 900;
}

/* Navbar */
.navbar-custom {
    background-color: #F3E6E4;
}

.navbar {
    padding: 0;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-padding {
    padding: 0 15%;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-logo {
    width: 150px;
}

.nav-link {
    color: #44603F;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Cover */
#cover {
    background-image: url(pics/plant_wallpaper.jpg);
    background-position: 0 1200px;
    filter: hue-rotate(100deg);
}

/* About */
#about {
    background-color: #F3E6E4;
}

.about-pic {
    width: 100%;
}

/* Location / Opening times */


/* Reviews */
#reviews {
    background-color: #EEC1C8;
}

.carousel {
    padding-top: 2%;
}

.carousel-item {
    padding: 0 20%;
}

.review {
    color: white;
}

.thin {
    width: 70%;
    text-align: center;
    margin: auto;
}
/* Contact */